/* Import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Hero section design  */
.container {
    width: 80%;
    margin: 0 auto;
}
#hero-section {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(44, 168, 44, 0.596), rgba(255, 0, 157, 0.486)), url(img/hero-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.brand > a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}
.topbar .nav ul{
    display: flex;
    list-style: none;
}
.topbar .nav ul li {
    margin-right: 20px;
}
.topbar .nav ul li:last-child {
    margin-right: 0px;
}
.topbar .nav ul li >a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
    border: 2px solid transparent;
    padding: 7px 15px;
    border-radius: 10px;
}
.nav ul li:hover > a {
    color: gold;
    border: 2px solid gold;
}

.hero-content {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-cta-heading {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}
.hero-cta-heading > span {
    font-weight: 300;
}
.hero-cta-tag {
    font-size: 20px;
    letter-spacing: 6px;
    color: #fff;
    margin: 0;
    margin-bottom: 40px;
}
.hero-cta-btn {
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 15px 25px;
    background: gold;
    border: 2px solid transparent;
    color: #000;
    transition: 0.5s;
}
.hero-cta-btn:hover {
    color: #fff;
    background: transparent;
    border: 2px solid gold;
}

/* Why us section design  */
#why-us, #package-section, #contact {
    padding: 100px;
    background-image: linear-gradient(to bottom right, rgba(44, 168, 44, 0.596), rgba(255, 0, 157, 0.486)), url(img/hero-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.why-us-header, .pricing-header, .form-heading {
    font-size: 40px;
    color: #fff;
    margin: 0;
}
.stat-wrapper, .package-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
.single-stat{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    color: #fff;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 15px 13px 17px 0px rgba(0, 0, 0, 0.45);

}
 .fa {
    font-size: 40px !important;
}
.single-stat-count {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}
.single-stat-tag {
    margin: 0px;
}
.stat-one {
    background-image: linear-gradient(to bottom right, rgba(46, 44, 168, 0.596), rgba(255, 196, 0, 0.486)), url(img/travel-place.jpg);
}
.stat-two {
    background-image: linear-gradient(to bottom right, rgba(44, 139, 168, 0.596), rgba(0, 195, 255, 0.486)), url(img/hiking.jpg);
}
.stat-three {
    background-image: linear-gradient(to bottom right, rgba(139, 44, 168, 0.596), rgba(81, 255, 0, 0.486)), url(img/travel-team.jpg);
}
.hr-design {
    width: 300px;
    margin: 0 auto;
}
hr{
    color: #fff;
}
.package-wrapper {
    margin-top: 70px;
}
.single-package {
    background: rgba(0, 0, 0, .12);
    padding: 20px 0px;
    width: 30%;
    border-radius: 30px;
    color: #fff;
    box-shadow: 3px 10px 3px 1px rgba(0, 0, 0, .25);
}
.pricing {
    background: rgba(0, 0, 0, .2);
    clip-path: polygon(48% 78%, 6% 0, 95% 0);
    padding: 20px 0px 80px 0px;

}
.price {
    color: gold;
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
}
.price-tag {
    margin: 0px;
}
.single-package ul {
    list-style: none;
}
.single-package ul li{
    padding: 5px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
.booknow-btn {
    padding: 10px 30px;
    background-image: linear-gradient(to bottom right, rgba(44, 168, 44, 0.596), rgba(255, 0, 157, 0.486));
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: 0.9s;
    margin-bottom: 30px;
}
.booknow-btn:hover {
    background-image: linear-gradient(to bottom right, rgba(255, 0, 157, 0.486), rgba(44, 168, 44, 0.596) );
}
.form-design {
    width: 50%;
    margin: 0 auto;
}
.form-design  p {
    text-align: left !important;

}
.form-design  p  label {
    color: #fff;
    font-size: 18px;
}
.form-control {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    color: #000;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.send-btn {
    padding: 10px 20px;
    background: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgba(44, 168, 44, 0.596), rgba(255, 0, 157, 0.486));

}
#footer {
    background: #594986;
    background: -webkit-linear-gradient(top left, #594986, #3537CE);
    background: -moz-linear-gradient(top left, #594986, #3537CE);
    background: linear-gradient(to bottom right, #594986, #3537CE);
    opacity: .8;
    padding: 20px 0;
}
#footer p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin: 0px;
}